@charset "UTF-8"; 

/***** (recipe) --- START *****/

/* r-search */
#pageContent.recipe .r-search {margin-bottom:5em; text-align:center;}
#pageContent.recipe .r-search .r-input {width:40%; min-width:300px; border:none; border-radius:0; border-bottom:1px solid var(--base-colorBlack); padding:0.25em 2.125em 0.25em 1.125em; font-size:1.125em; text-align:left;}
#pageContent.recipe .r-search .search-icon {position:relative; right:30px; cursor:pointer;}


/* r-category */
#pageContent.recipe .r-category {display:flex; flex-flow:row wrap; justify-content:center; margin-bottom:3em;}
#pageContent.recipe .r-category .category-circle {width:120px; height:120px; border-radius:50%; background:var(--base-colorBasicGray); display:flex; flex-flow:column wrap; align-items:center; justify-content:center; cursor:pointer; font-weight:700; margin:0 0.75em; border:1px solid var(--base-colorBasicGray); transition:all 0.15s ease-in;}
#pageContent.recipe .r-category .category-circle img {filter:grayscale(1);}
#pageContent.recipe .r-category .category-circle.active {background:var(--base-colorWhite); border-color:var(--main-colorRed); color:var(--main-colorRed); font-weight:800;}
#pageContent.recipe .r-category .category-circle.active img {filter:grayscale(0);}
#pageContent.recipe .r-category .category-circle:not(.active):hover {background:var(--base-colorWhite); border-color:var(--base-colorDeepGray);}

@media screen and (max-width:512px) {
/* 	#pageContent.recipe .r-category .category-circle {margin:0px 18px;}
	#pageContent.recipe .r-category .category-circle:last-child {margin:0;} */
}


/* detail-category */
#pageContent.recipe .detail-category {padding:0.75em 2.5em; margin-bottom:5em;}
#pageContent.recipe .detail-category .cate-box {display:flex; flex-flow:row wrap; align-items:stretch; justify-content:space-between; padding:1.5em 1em; border-top:0;}
#pageContent.recipe .detail-category .cate-box.typeAll {border-bottom:1px solid var(--base-colorDeepGray);}
#pageContent.recipe .detail-category .cate-box.typeAll:last-child {border-bottom:0;}
#pageContent.recipe .detail-category .cate-box:not(.active) {display:none;}
#pageContent.recipe .detail-category .cate-box .cate-title {width:62px; font-size:1.375em;}
#pageContent.recipe .detail-category .cate-box .cate-item {width:calc(100% - 62px); padding-left:1em;}
#pageContent.recipe .detail-category .cate-box .cate-item a {font-size:1.125em; margin-left:1em;}
#pageContent.recipe .detail-category .cate-box .cate-item a:hover {text-decoration:underline; text-underline-position:under;}


/* search-result-s */
#pageContent.recipe .search-result-s {width:100%; margin-bottom:1em; display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:flex-end;}
#pageContent.recipe .search-result-s .result-text {font-size:1.75em; font-weight:700; transition:all 0.2s ease-out;}
#pageContent.recipe .search-result-s .result-cnt {font-size:1em;}
#pageContent.recipe .search-result-s .result-cnt span {font-weight:700; transition:all 0.2s ease-out;}


/* item-list */
#pageContent.recipe .item-list {display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:stretch;}
#pageContent.recipe .item-list .item {width:calc((100% - 60px) / 3); margin-right:30px; cursor:pointer; margin-bottom:2em;}
#pageContent.recipe .item-list .item:nth-child(3n) {margin-right:0;}
#pageContent.recipe .item-list .item:hover .img-box img {transform:scale(1.05); transition:all 0.2s ease-out;}
#pageContent.recipe .item-list .item .img-box {width:100%; margin-bottom:0.5em; position:relative; text-align:center; overflow:hidden;}
#pageContent.recipe .item-list .item .img-box img {display:block;}
#pageContent.recipe .item-list .item .img-box .re-view-cnt {display:inline-block; line-height:1; padding:0.2em 0.5em; background:rgba(255,255,255,0.9); border-radius:15px; font-size:0.875em; font-weight:600; position:absolute; top:10px; right:10px; z-index:9;}
#pageContent.recipe .item-list .item .img-box .re-view-cnt i {color:var(--base-colorCharcoal); font-size:0.875em;}
#pageContent.recipe .item-list .item .img-box .re-view-cnt span {transition:all 0.2s ease-out;}
#pageContent.recipe .item-list .item .img-box img {max-width:inherit; width:100%; display:block; transition:all 0.2s ease-out;}
#pageContent.recipe .item-list .item .txt-box .hashtag {font-weight:500; text-align:left; word-break:keep-all; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; transition:all 0.2s ease-out;}
#pageContent.recipe .item-list .item .txt-box .title {font-size:1.25em; text-align:left; word-break:keep-all; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; transition:all 0.2s ease-out;}


/* typeEdit > fieldset-area */
#pageContent.recipe.typeEdit .fieldset-area {margin-bottom:3em;}
#pageContent.recipe.typeEdit .fieldset-area:nth-child(odd) .area-title::before {content:'📁 ';}
#pageContent.recipe.typeEdit .fieldset-area:nth-child(even) .area-title::before {content:'📂 ';}
#pageContent.recipe.typeEdit .fieldset-area .area-list li {width:100%; display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:center; padding:1.25em 0.5em; border-top:1px dotted var(--base-colorDeepGray);}
#pageContent.recipe.typeEdit .fieldset-area .area-list li:first-child {border-top:1px dashed var(--base-colorDarkGray);}
#pageContent.recipe.typeEdit .fieldset-area .area-list li label {min-width:100px; width:100%; display:block; margin-bottom:0.5em; font-size:1.125em; font-weight:700; cursor:pointer;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li.no label,
#pageContent.recipe.typeEdit .fieldset-area .area-list li.img label {width:auto; display:inline-block; margin-bottom:0; padding-right:1em;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li.ingre label.ingre-ch {width:auto; margin-right:1em; margin-bottom:0.25em; font-weight:500;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li.type span {margin-right:1em;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li.type span strong {margin-right:1em;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li select {margin-right:1em;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li select option {padding:5px;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li input[type="text"], 
#pageContent.recipe.typeEdit .fieldset-area .area-list li input[type="number"] {border-radius:0; border:0; border-bottom:1px solid var(--base-colorDarkGray); padding:4px 0;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li input#recipe_no {width:120px;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li input#recipe_name {width:100%;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li input#recipe_hashtag {width:100%;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li input#recipe-ingre {width:100%;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li button {border-radius:0; border:0; background:var(--base-colorCharcoal); color:var(--base-colorWhite); font-size:0.875em; font-weight:500; padding:5px 10px;}
#pageContent.recipe.typeEdit .fieldset-area .area-list li button#no_btn {margin-left:1em;}
#pageContent.recipe.typeEdit form.filebox {width:calc(100% - 100px);}
#pageContent.recipe.typeEdit form.filebox input {width:100%;}
#pageContent.recipe.typeEdit form.filebox input[type="file" i] {border-radius:0; border:0; border-bottom:1px solid var(--base-colorDarkGray); font-size:0.875em; font-weight:500; padding:5px 10px;}


/* typeEdit > recipe-step */
#pageContent.recipe.typeEdit #recipe-step {margin-bottom:1.25em;}
#pageContent.recipe.typeEdit #recipe-step .step-box {width:100%; display:flex; flex-flow:column wrap; justify-content:flex-start; align-items:stretch; padding:1em 0.5em; border-top:1px dashed var(--base-colorDarkGray);}
#pageContent.recipe.typeEdit #recipe-step .step-box:last-child {border-bottom:1px dashed var(--base-colorDarkGray);}
#pageContent.recipe.typeEdit #recipe-step .step-box > * {width:100%; display:flex; flex-flow:row nowrap; align-items:center; padding:1em 0; border-top:1px dotted var(--base-colorDeepGray);}
#pageContent.recipe.typeEdit #recipe-step .step-box > *:first-child {border-top:0;}
#pageContent.recipe.typeEdit #recipe-step .step-box #step-num {font-size:1.375em; font-weight:700; padding-top:0; padding-bottom:0.5em;}
#pageContent.recipe.typeEdit #recipe-step .step-box #re-info {flex-flow:column wrap; align-items:stratch; justify-content:flex-start;}
#pageContent.recipe.typeEdit #recipe-step .step-box > * label {min-width:110px; font-size:1.125em; font-weight:700;}
/*#pageContent.recipe.typeEdit #recipe-step .step-box #re-img label {padding-right:1em;}*/
#pageContent.recipe.typeEdit #recipe-step .step-box #re-info label {width:100%; margin-bottom:0.5em;}
#pageContent.recipe.typeEdit #recipe-step .step-box #re-info textarea {width:100%;}
#pageContent.recipe.typeEdit #add-btn {border-radius:0; border:0; padding:10px; line-height:1; background:var(--base-colorCharcoal); color:var(--base-colorWhite); font-weight:500; margin-bottom:0.5em;}


/* typeView > recipe-info-section */
#pageContent.recipe.typeView .recipe-info-section {width:100%; display:flex; flex-flow:row wrap; justify-content:space-between; align-items:stretch;}
#pageContent.recipe.typeView .recipe-info-section .recipe-thumb-area {width:640px; position:relative;}
#pageContent.recipe.typeView .recipe-info-section .recipe-thumb-area .re-view-cnt {display:inline-block; line-height:1; padding:0.2em 0.5em; background:rgba(255,255,255,0.9); border-radius:15px; font-size:1.125em; font-weight:600; position:absolute; top:20px; left:20px; z-index:9;}
#pageContent.recipe.typeView .recipe-info-section .recipe-thumb-area .re-view-cnt i {color:var(--base-colorCharcoal); font-size:0.875em;}
#pageContent.recipe.typeView .recipe-info-section .recipe-thumb-area .re-view-cnt span {transition:all 0.2s ease-out;}
#pageContent.recipe.typeView .recipe-info-section .recipe-thumb-area img {display:block;}
#pageContent.recipe.typeView .recipe-info-section .recipe-info-area {width:calc(100% - 640px); padding-left:2em; display:flex; flex-flow:column wrap; justify-content:space-between; align-items:stretch;}
#pageContent.recipe.typeView .recipe-info-section .recipe-info-area .info-box {min-height:calc(100% - 65px - 2em); display:flex; flex-flow:column; justify-content:space-around;}
#pageContent.recipe.typeView .recipe-info-section .recipe-info-area .info_txt {border-bottom:1px solid var(--base-colorBasicGray); padding-bottom:1em;}
#pageContent.recipe.typeView .recipe-info-section .recipe-info-area .info_txt .hashtag {font-size:1.125em; font-weight:400; margin-bottom:0.5em;}
#pageContent.recipe.typeView .recipe-info-section .recipe-info-area .info_txt .title {font-size:2em; font-weight:700;}
#pageContent.recipe.typeView .recipe-info-section .recipe-info-area .info_keyword {width:100%; display:flex; flex-flow:row nowrap; justify-content:space-around; align-items:center; text-align:center;}
#pageContent.recipe.typeView .recipe-info-section .recipe-info-area .info_keyword .type h5 {font-size:1.25em;}
#pageContent.recipe.typeView .recipe-info-section .recipe-info-area .info_keyword .type p {font-size:1.125em; margin-top:0.25em;}
#pageContent.recipe.typeView .recipe-info-section .recipe-btn-Box {width:100%; display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;}
#pageContent.recipe.typeView .recipe-info-section .recipe-btn-Box > * {width:65px; height:65px; display:flex; align-items:center; justify-content:center; line-height:1; border-radius:20px; text-align:center; padding:5px; cursor:pointer;}
#pageContent.recipe.typeView .recipe-info-section .recipe-btn-Box .save-btn {width:calc(100% - 130px - 2em); background:var(--main-colorRed); color:var(--base-colorWhite); font-size:1.25em; font-weight:600;}
#pageContent.recipe.typeView .recipe-info-section .recipe-btn-Box .print-btn {background:var(--base-colorCharcoal); color:var(--base-colorWhite); font-size:1.5em;}
#pageContent.recipe.typeView .recipe-info-section .recipe-btn-Box .share-btn {background:var(--base-colorWhite); color:var(--main-colorRed); font-size:1.5em;}


/* typeView > ingredient-section */
#pageContent.recipe.typeView .section-title {display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:center; line-height:1;}
#pageContent.recipe.typeView .section-title span {padding-top:0.25em; padding-left:0.25em;}
#pageContent.recipe.typeView .ingredient-section {margin:6em 0 3em;}
#pageContent.recipe.typeView .ingredient-section .ingre-info {margin-top:-1em; padding-left:3em; font-size:1.125em;}


/* typeView > cook-section */
#pageContent.recipe.typeView .cook-section .cook-index {display:flex; flex-flow:row wrap; justify-content:space-between; align-items:flex-end; margin:2em 0;}
#pageContent.recipe.typeView .cook-section .cook-index .img-index {width:60%; max-width:640px; display:block;}
#pageContent.recipe.typeView .cook-section .cook-index .text-index {width:40%; min-width:calc(100% - 640px);
padding:1em 0 0.5em 2.5em;}
#pageContent.recipe.typeView .cook-section .cook-index .text-index h4 {font-size:1.25em; margin-bottom:0.25em;}
#pageContent.recipe.typeView .cook-section .cook-index .text-index p {font-size:1.125em;}



/***** (recipe) --- END *****/