@charset "UTF-8"; 

/***** (livingMap) --- START *****/
		 
/* selectArea */
#pageContent.livingMap .selectArea {display:flex; flex-flow:column; align-items:center; justify-content:center; align-items:center; margin-bottom:2em;}
#pageContent.livingMap .selectArea .selectBox {display:flex; align-items:center; justify-content:center;}
#pageContent.livingMap .selectArea .selectBox .selectTitle {margin:0; line-height:1; font-size:1.25em;}
#pageContent.livingMap .selectArea .selectBox .boxItem {width:170px; height:40px; margin-left:1em;}
#pageContent.livingMap .selectArea .tip {font-size:0.875em; margin-top:1em; line-height:1; text-align:center; color:var(--base-colorDarkGray);}


/* categoryArea */
#pageContent.livingMap .categoryArea {display:flex; flex-flow:row wrap; justify-content:center; margin-bottom:4em;}
#pageContent.livingMap .categoryArea .category-circle {width:120px; height:120px; border-radius:50%; background:var(--base-colorBasicGray); display:flex; flex-flow:column wrap; align-items:center; justify-content:center; cursor:pointer; font-weight:700; margin:0 0.75em; border:1px solid var(--base-colorBasicGray); transition:all 0.15s ease-in;}
#pageContent.livingMap .categoryArea .category-circle img {filter:grayscale(1);}
#pageContent.livingMap .categoryArea .category-circle.active {background:var(--base-colorWhite); border-color:var(--main-colorGreen); color:var(--main-colorGreen); font-weight:800;}
#pageContent.livingMap .categoryArea .category-circle.active img {filter:grayscale(0);}
#pageContent.livingMap .categoryArea .category-circle:not(.active):hover {background:var(--base-colorWhite); border-color:var(--base-colorDeepGray);}


/* resultMap */
#pageContent.livingMap .resultMap {width:100%; position:relative; display:flex; flex-flow:row wrap; justify-content:space-between; align-items:stretch;}
#pageContent.livingMap .resultMap .map_wrap {width:calc(100% - 370px); position:relative; height:500px;}
#pageContent.livingMap .resultMap #menu_wrap {width:350px; height:500px; overflow-y:auto; text-align:justify; font-size:0.875em; line-height:1.25; background:var(--base-colorWhite); padding:0.5em;}
#pageContent.livingMap .resultMap #menu_wrap h5 {font-size:1.125em;}
#pageContent.livingMap .infowindow {font-size:0.875em; font-weight:500;}


/* resultMap : API */
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

/***** (livingMap) --- END *****/