@charset "UTF-8"; 

/***** (recipe) --- START *****/

/* r-search */
#pageContent.recipe .r-search {margin-bottom:5em; text-align:center;}
#pageContent.recipe .r-search .r-input {width:40%; min-width:300px; border:none; border-radius:0; border-bottom:1px solid var(--base-colorBlack); padding:0.25em 2.125em 0.25em 1.125em; font-size:1.125em; text-align:left;}
#pageContent.recipe .r-search .search-icon {position:relative; right:30px; cursor:pointer;}


/* r-category */
#pageContent.recipe .r-category {display:flex; flex-flow:row wrap; justify-content:center; margin-bottom:3em;}
#pageContent.recipe .r-category .category-circle {width:120px; height:120px; border-radius:50%; background:var(--base-colorBasicGray); display:flex; flex-flow:column wrap; align-items:center; justify-content:center; cursor:pointer; font-weight:700; margin:0 0.75em; border:1px solid var(--base-colorBasicGray); transition:all 0.15s ease-in;}
#pageContent.recipe .r-category .category-circle img {filter:grayscale(1);}
#pageContent.recipe .r-category .category-circle.active {background:var(--base-colorWhite); border-color:var(--main-colorRed); color:var(--main-colorRed); font-weight:800;}
#pageContent.recipe .r-category .category-circle.active img {filter:grayscale(0);}
#pageContent.recipe .r-category .category-circle:not(.active):hover {background:var(--base-colorWhite); border-color:var(--base-colorDeepGray);}

@media screen and (max-width:512px) {
/* 	#pageContent.recipe .r-category .category-circle {margin:0px 18px;}
	#pageContent.recipe .r-category .category-circle:last-child {margin:0;} */
}


/* detail-category */
#pageContent.recipe .detail-category {padding:0.75em 2.5em; margin-bottom:5em;}
#pageContent.recipe .detail-category .cate-box {display:flex; flex-flow:row wrap; align-items:stretch; justify-content:space-between; padding:1.5em 1em; border-top:0;}
#pageContent.recipe .detail-category .cate-box.typeAll {border-bottom:1px solid var(--base-colorDeepGray);}
#pageContent.recipe .detail-category .cate-box.typeAll:last-child {border-bottom:0;}
#pageContent.recipe .detail-category .cate-box:not(.active) {display:none;}
#pageContent.recipe .detail-category .cate-box .cate-title {width:62px; font-size:1.375em;}
#pageContent.recipe .detail-category .cate-box .cate-item {width:calc(100% - 62px); padding-left:1em;}
#pageContent.recipe .detail-category .cate-box .cate-item a {font-size:1.125em; margin-left:1em;}
#pageContent.recipe .detail-category .cate-box .cate-item a:hover {text-decoration:underline; text-underline-position:under;}


/* search-result-s */
#pageContent.recipe .search-result-s {width:100%; margin-bottom:1em; display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:flex-end;}
#pageContent.recipe .search-result-s .result-text {font-size:1.75em; font-weight:700; transition:all 0.2s ease-out;}
#pageContent.recipe .search-result-s .result-cnt {font-size:1em;}
#pageContent.recipe .search-result-s .result-cnt span {font-weight:700; transition:all 0.2s ease-out;}

/* item-list */
#pageContent.recipe .item-list {display:flex; flex-flow:row wrap; justify-content:space-between; align-items:stretch;}
#pageContent.recipe .item-list .item {width:calc((100% - 60px) / 3); margin-right:30px; cursor:pointer; margin-bottom:2em;}
#pageContent.recipe .item-list .item:nth-child(3n) {margin-right:0;}
#pageContent.recipe .item-list .item:hover .img-box img {transform:scale(1.05); transition:all 0.2s ease-out;}
#pageContent.recipe .item-list .item .img-box {width:100%; height:250px; margin-bottom:0.5em; position:relative; text-align:center; overflow:hidden;}
#pageContent.recipe .item-list .item .img-box .re-view-cnt {display:inline-block; line-height:1; padding:0.2em 0.5em; background:rgba(255,255,255,0.9); border-radius:15px; font-size:0.875em; font-weight:600; position:absolute; top:10px; right:10px; z-index:9;}
#pageContent.recipe .item-list .item .img-box .re-view-cnt i {color:var(--base-colorCharcoal); font-size:0.875em;}
#pageContent.recipe .item-list .item .img-box .re-view-cnt span {transition:all 0.2s ease-out;}
#pageContent.recipe .item-list .item .img-box img {max-width:inherit; width:100%; display:block; transition:all 0.2s ease-out;}
#pageContent.recipe .item-list .item .txt-box .hashtag {font-weight:500; text-align:left; word-break:keep-all; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; transition:all 0.2s ease-out;}
#pageContent.recipe .item-list .item .txt-box .title {font-size:1.25em; text-align:left; word-break:keep-all; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; transition:all 0.2s ease-out;}

/* typeEdit */
#pageContent.recipe.typeEdit .fieldset-area {margin-bottom:3em;}
#pageContent.recipe.typeEdit .fieldset-area h3.area-aitle {text-align:center;}
#pageContent.recipe.typeEdit .fieldset-area li {display:flex; margin:20px 5px; }
#pageContent.recipe.typeEdit fieldset .enrol-re {float:left; width:100px;font-weight:bold;  }
#pageContent.recipe.typeEdit .recipe-file { display:flex; }
#pageContent.recipe.typeEdit fieldset > li > #recipe_name,#recipe-ingre {  border-radius:5px;  width:100%; }
#pageContent.recipe.typeEdit fieldset > li > #no_btn {  border-radius:5px;  width:15%; }
#pageContent.recipe.typeEdit fieldset > li > #recipe_no {border-radius:5px; width:30%;   }
#pageContent.recipe.typeEdit .enrol-no {border-radius:5px; width :30%;}
#pageContent.recipe.typeEdit .sel { width:100px; margin-right:10px; }
#pageContent.recipe.typeEdit .ingre-ch {margin-right:10px;}
#pageContent.recipe.typeEdit .btn_box button {
    border:none;
    width:100px;
    height:40px;
    margin-left:16px;
    border-radius:15px;
    background-color:#999999;
    color:white;
    font-size:20px;
    font-weight:bold;
}
#pageContent.recipe.typeEdit #add-area { text-align:center;margin:10px 0; }
#pageContent.recipe.typeEdit #add-area #add-btn {
    border:none;
    background:none;
    padding:5px;
    font-size:medium;
}
#pageContent.recipe.typeEdit #step-num{margin-right:30px;}
#pageContent.recipe.typeEdit #re-info {margin-bottom:20px;}
#pageContent.recipe.typeEdit #re-img { display:flex; }
#pageContent.recipe.typeEdit #recipe-step label {float:left; width:130px; }
#pageContent.recipe.typeEdit .btn:hover {  cursor:pointer; }



/* 
 .btn {
     cursor:pointer;
 }
 .recipe-thumb-img {
     border-radius:5px;
     width :58%;
     margin-right:30px;
 }
 .recipe-thumb-img > img {
     height:500px;
     border-radius:10px;
 }
 .re-view-cnt {
     position:relative;
     top:60px;
     left:20px;
     padding:3px 10px;
     display:inline-block;
     color:white;
     font-size:x-large;
     background-color:rgba(16, 15, 15, 0.612);
     border-radius:10px;
 }
 .big-box {
     width:42%;
     margin-bottom:60px;
 }
 .recipe-info {
     border:5px solid rgba(245, 243, 243, 0.959);
     box-shadow:2px 2px 20px 0px #ece9e9;
     border-radius:35px;
     padding:20px 20px;
     margin-top:40px;
     margin-bottom:30px;

     display:flex;
     flex-direction:column;
     justify-content:center;
     height:420px;
 }
 .recipe-info div {
     margin-right:10px;
 }
 .recipe-save {
     display:flex;
     justify-content:space-between;
 }
 .recipe-info-box {
     display:flex;
     margin:20px 0px 50px 0px;
     width:100%;
     height:auto;
 }
 @media screen and (max-width:512px) {
     .recipe-info-box {
     display:block;
     margin:50px 0px;
     width:100%;
     }
     .recipe-thumb-img {
         width:100%;
         height:auto;
     }
     .recipe-thumb-img > img {
     width :100%;
     height:auto;
     }
     .big-box {
     width:100%;
     height:auto;
     margin-bottom:60px;
     }
 }
.re-icon {
     width:50px;
     text-align:center;
}
.recipe-simple-info {
      display:flex;
      justify-content:center;
      margin-top:60px;
}
.box2 {
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     text-align:center;
     width:110px;
     margin:0 10px;
}
.box2 div {
     font-size:large;
}
.recipe-name {
 margin-left:40px;
 margin-bottom:30px;
}
.recipe-name > div:last-child {
     margin-top:5px;
   font-size:x-large;
}
.recipe-save-button {
     width:68%;
     height:55px;
     padding :10px;
     font-size:large;
     border-radius:15px;
     color:white;
     background-color:green;
     border-color:green;
}
.icon-print {
     width:55px;
     height:55px;
     background-color:black;
     border-radius:10px;
     text-align:center;
     padding:15px 0px;
}
.icon-share {
     width:55px;
     height:55px;
     background-color:whitesmoke;
     border:1px solid rgba(245, 243, 243, 0.959);
     box-shadow:2px 2px 5px 0px #ece9e9;
     border-radius:10px;
     text-align:center;
     padding:15px 0px;
}
.color-white {
     color:whitesmoke;
}
.ingre-name {
     display:flex;
     align-items:center;
     font-weight:bold;
     font-size:large;
     margin-bottom:20px;
 }
 .ingredient {
     border:5px solid rgba(245, 243, 243, 0.959);
     box-shadow:2px 2px 20px 0px #ece9e9;
     border-radius:35px;
     padding:20px 40px;
     margin-bottom:30px;
     width:100%;
 }
 .ingredient .ingre-info {
     margin-left:50px;
 }
 .recipe-index {
     display:flex;
     margin-bottom:30px;
 }
 .img-index {
     width:60%;
 }
 .text-index {
     width :40%;
     margin-left:20px;
     margin-bottom:20px;
     font-size:large;
     display:flex;
     flex-direction:column;
     justify-content:end;
 }
 @media screen and (max-width:512px) {
     .recipe-index {
     display:block;
     }
     .img-index {
         width:100%;
     }
     .text-index {
         width:100%;
     }
 }
 .recipe-img {
     border-radius:10px;
     width:600px;
     height:400px;
     margin-bottom:10px;
 }
 .search-result-s {
     display:flex;
     justify-content:space-between;
     margin-bottom:5px;
 }
 .search-result-d {
     display:flex;
 }
 .search-result-s > div:first-child {
     font-size:20px;
 }
 .search-result-s > div:last-child {
     font-size:15px;
     position:relative;
     right:40px;
 }
 .r-text {
     font-size:20px;
     font-weight:bold;
 }
 .item {
     text-align:left;
 }
 .market-item {
     margin-top:100px;
 }
 .btn_box .btn {
 	display:felx;
     border:none;
     width:100px;
     height:40px;
     margin-left:16px;
     border-radius:15px;
     background-color:#999999;
     color:white;
     font-size:20px;
     font-weight:bold;
 } */
/***** (recipe) --- END *****/