@charset "UTF-8";

/***** (todayEat) --- START *****/
#pageContent.todayEat .selectArea {min-height:inherit; display:flex; flex-flow:row wrap; justify-content:space-between;}
#pageContent.todayEat .selectArea .selectBtn {width:calc(50% - 20px); border-radius:2em; padding-top:30%; display:block; position:relative; overflow:hidden; transition:all 0.25s ease-out; cursor:pointer;}
#pageContent.todayEat .selectArea .selectBtn .textBox {width:100%; height:100%; position:absolute; top:0; left:0; display:flex; flex-flow:column wrap; justify-content:center; align-items:center; text-align:center; padding-top:5em; color:var(--base-colorWhite); transition:all 0.25s ease-out; opacity:0.75;}
#pageContent.todayEat .selectArea .selectBtn .textBox .btnTitle {font-size:1.75em; margin-bottom:0.5em;}
#pageContent.todayEat .selectArea .selectBtn:hover {box-shadow:0 5px 40px 0 rgba(0,0,0,0.4);}
#pageContent.todayEat .selectArea .selectBtn:hover .textBox {opacity:1;}
/***** (todayEat) --- END *****/


/***** (todayEat_store), (todayEat_recipe) --- START *****/
#pageContent.todayEat .formContainer {display:flex; flex-flow:column wrap; justify-content:center; align-items:center;}
#pageContent.todayEat .selectArea {width:100%; margin-bottom:2em;}

#pageContent.todayEat .selectTitle {font-size:1.5em; margin-bottom:0.75em;}
#pageContent.todayEat .selectBox {width:100%; display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:stretch;}
#pageContent.todayEat .selectBox .boxItem {display:inline-block; margin-bottom:0.5em; margin-right:1.5em;}
#pageContent.todayEat .selectBox .boxItem:last-child {margin-right:0;}
#pageContent.todayEat .selectBox .boxItem label {font-size:1.125em; cursor:pointer; transition:all 0.1s ease-out; word-break:keep-all; padding-left:0.5em;}
#pageContent.todayEat #selectAllBtn {font-size:1.2em; padding:1em 7%; border:0; border-radius:1em; background:var(--base-colorCharcoal); color:var(--base-colorWhite); font-weight:600;}

#pageContent.todayEat input {position:relative; transition:all 0.2s ease-in;}
#pageContent.todayEat input[type="radio"] {width:1.125em; height:1.125em; border-radius:50%; vertical-align:middle; appearance:none; background:var(--base-colorWhite); border:0.2em solid var(--base-colorWhite); outline:0.15em solid var(--base-colorDarkGray); margin-top:-0.125em;}
#pageContent.todayEat input[type="checkbox"] {width:1.125em; height:1.125em; border-radius:0.2em; vertical-align:middle; appearance:none; background:var(--base-colorWhite); outline:0.15em solid var(--base-colorDarkGray); margin-top:-0.125em;}
#pageContent.todayEat input[type="radio"]:checked {outline-color:var(--main-colorRed); background:var(--main-colorRed);}
#pageContent.todayEat input[type="checkbox"]:checked {outline-color:var(--main-colorRed); background:var(--main-colorRed);}
#pageContent.todayEat input[type="checkbox" i]:checked:before {content:"✔"; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); color:var(--base-colorWhite);}
#pageContent.todayEat input[type="radio"]:focus-visible, input[type="checkbox"]:focus-visible {outline-color:var(--main-colorRed);}
#pageContent.todayEat input[type="radio"]:hover, input[type="checkbox"]:hover {box-shadow:0 0 0 0.25em var(--base-colorBasicGray); cursor:pointer;}
#pageContent.todayEat input[type="radio"]:disabled {box-shadow:none; opacity:0.7; cursor:not-allowed; border-color:var(--base-colorLightGray); background:var(--base-colorLightGray); outline-color:var(--base-colorDeepGray);}
#pageContent.todayEat input[type="radio"]:disabled + label {opacity:0.26; cursor:not-allowed;}
#pageContent.todayEat select {width:10em; border-radius:4px; border-color:var(--base-colorDeepGray); padding:0.5em 1em;}
/***** (todayEat_store), (todayEat_recipe) --- END *****/


/***** (todayEat_store_result), (todayEat_recipe_result) --- START *****/
#pageContent.todayEat .replayBtn {border:0; border-radius:0; background:none;}

#pageContent.todayEat .resultMenu {text-align:center; margin-bottom:5em;}
#pageContent.todayEat .resultMenuTitle {font-size:1.75em;}
#pageContent.todayEat .resultMenuTitle span.resultCant {font-size:0.75em; font-weight:600; display:block; text-align:center; margin-bottom:0.5em;}
#pageContent.todayEat .resultMenuTitle span#menuName {font-size:1.25em;}
#pageContent.todayEat .resultMenu .imgBox {width:360px; height:360px; border-radius:50%; background:var(--base-colorBasicGray); margin:1em auto 2em; position:relative; overflow:hidden;}
#pageContent.todayEat .resultMenu .imgBox img {max-width:inherit; height:100%; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
#pageContent.todayEat .replayBtn {font-weight:600;}
#pageContent.todayEat .replayBtn i {margin-right:0.2em;}

#pageContent.todayEat .resultMapTitle {font-size:1.625em; font-weight:500; margin-bottom:0.5em;}
#pageContent.todayEat .resultMapTitle span {font-weight:700;}
#pageContent.todayEat .resultMap {width:100%; position:relative; display:flex; flex-flow:row wrap; justify-content:space-between; align-items:stretch;}
#pageContent.todayEat .resultMap .map_wrap {width:calc(100% - 370px); position:relative; height:500px;}
.balloon {  
position:relative; margin:50px; background:pink; border-radius:10px;
}
.balloon:after {content:''; border-top:0px solid transparent; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid pink; position:absolute; top:-10px; left:200px;}
#pageContent.todayEat .resultMap #menu_wrap {width:350px; height:500px; overflow-y:auto; text-align:justify; font-size:0.875em; line-height:1.25; background:var(--base-colorWhite); padding:0.5em;}
#pageContent.todayEat .resultMap #menu_wrap h5 {font-size:1.125em;}
#pageContent.todayEat .infowindow {font-size:0.875em; font-weight:500;}

#pageContent.todayEat .areaTitle {font-size:1.625em; font-weight:500; margin-bottom:0.5em;}
#pageContent.todayEat .areaTitle span {font-weight:700;}
#pageContent.todayEat .resultMore {width:100%; position:relative; display:flex; flex-flow:row wrap; justify-content:space-between; align-items:stretch;}
#pageContent.todayEat .resultMore .recipeArea {width:calc(100% - 500px - 4em); display:flex; flex-flow:column;}
#pageContent.todayEat .resultMore .recipeArea .recipeBox {width:100%; height:100%; position:relative; cursor:pointer;}
#pageContent.todayEat .resultMore .recipeArea .recipeBox img {max-width:inherit; width:100%; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); z-index:1; transition:all 0.2s ease-in;}
#pageContent.todayEat .resultMore .recipeArea .recipeBox:hover img {transform:translate(-50%,-50%) scale(1.05);}
#pageContent.todayEat .resultMore .recipeArea .recipeBox .info {width:100%; height:100%; background:linear-gradient(0, #00000099, transparent); color:var(--base-colorWhite); display:flex; flex-flow:column; justify-content:flex-end; padding:5%; position:relative; z-index:2;}
#pageContent.todayEat .resultMore .recipeArea .recipeBox .info .hashtag {font-weight:400; line-height:1; margin-bottom:0.5em;}
#pageContent.todayEat .resultMore .recipeArea .recipeBox .info .title {font-size:1.75em; line-height:1;}
#pageContent.todayEat .resultMore .recipeArea .recipeBox .info .title i {margin-right:4px;}

#pageContent.todayEat .resultMore .marketArea {width:500px; display:flex; flex-flow:column;}
#pageContent.todayEat .resultMore .marketArea .marketBox {width:100%; height:100%; display:flex; flex-flow:row wrap; justify-content:space-between; align-items:stratch;}
#pageContent.todayEat .resultMore .marketArea .marketBox .thumb {width:calc(50% - 1em); display:flex; flex-flow:column; justify-content:space-between; cursor:pointer;}
#pageContent.todayEat .resultMore .marketArea .marketBox .thumb .imgBox {width:100%; margin-bottom:1em; overflow:hidden;}
#pageContent.todayEat .resultMore .marketArea .marketBox .thumb .imgBox img {display:block;}
#pageContent.todayEat .resultMore .marketArea .marketBox .thumb:hover .imgBox img {transform:scale(1.05);}
#pageContent.todayEat .resultMore .marketArea .marketBox .thumb .txtBox {width:100%;}
#pageContent.todayEat .resultMore .marketArea .marketBox .thumb .txtBox .text {min-height:21px; -webkit-line-clamp:1;}
#pageContent.todayEat .resultMore .marketArea .marketBox .thumb .txtBox .title {font-size:1.125em; margin:0.125em 0; -webkit-line-clamp:1;}
#pageContent.todayEat .resultMore .marketArea .marketBox .thumb .txtBox .price .amount {color:var(--main-colorGreen); font-size:1.5em; font-weight:700;}
/***** (todayEat_store_result), (todayEat_recipe_result) --- END *****/


/***** (todayEat_store_result : API) --- START *****/
#placesList li {list-style:none;}
#placesList .item {position:relative; border-bottom:1px solid var(--base-colorDeepGray); overflow:hidden; cursor:pointer; min-height:65px; transition:all 0.2s ease-in;}
#placesList .item:hover h5 {color:var(--main-colorRed);}
#placesList .item:last-child {border-bottom:0;}
#placesList .item span {display:block; margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow:ellipsis; overflow:hidden; white-space:nowrap; transition:all 0.2s ease-in;}
#placesList .item .info {padding:1.2em 0 1em 4em;}
#placesList .info .gray {color:var(--base-colorDarkGray);}
#placesList .info .jibun {padding-left:26px; background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {font-weight:600; color:var(--main-colorGreen);}
#placesList .item .markerbg {float:left; position:absolute; width:36px; height:37px; margin:10px 0 0 10px; background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position:0 -10px;}
#placesList .item .marker_2 {background-position:0 -56px;}
#placesList .item .marker_3 {background-position:0 -102px}
#placesList .item .marker_4 {background-position:0 -148px;}
#placesList .item .marker_5 {background-position:0 -194px;}
#placesList .item .marker_6 {background-position:0 -240px;}
#placesList .item .marker_7 {background-position:0 -286px;}
#placesList .item .marker_8 {background-position:0 -332px;}
#placesList .item .marker_9 {background-position:0 -378px;}
#placesList .item .marker_10 {background-position:0 -423px;}
#placesList .item .marker_11 {background-position:0 -470px;}
#placesList .item .marker_12 {background-position:0 -516px;}
#placesList .item .marker_13 {background-position:0 -562px;}
#placesList .item .marker_14 {background-position:0 -608px;}
#placesList .item .marker_15 {background-position:0 -654px;}
/***** (todayEat_store_result : API) --- END *****/