@charset "UTF-8";

/*** header --- START ***/
#header {width:100%; height:auto; min-height:140px; background:var(--base-colorWhite); border-bottom:0 solid var(--base-colorBasicGray); position:fixed; top:0; left:0; z-index:99999; transition:all 0.2s ease-in;}
#header.active {border-bottom-width:1px;}
#header + * + * {margin-top:140px;}
#header .wrapper {min-height:auto; display:flex; flex-flow:column nowrap; justify-content:space-between;}

#header #logo {order:2; align-self:center; margin-bottom:10px;}
#header #gnbMenu {order:3; justify-self:flex-end;}
#header #gnbMenu::before {content:''; display:block; width:100%; height:1px; background:var(--base-colorBasicGray); opacity:0; position:relative; top:53px; left:0; transition:all 0.2s ease-in;}
#header #gnbMenu.active::before {opacity:1;}
#header #gnbMenu ul.depth1 {width:100%; display:flex; flex-flow:row nowrap; justify-content:space-between; text-align:center;}
#header #gnbMenu ul.depth1 > li > a {font-size:1.125em; padding:8px; margin-bottom:10px; position:relative; z-index:2;}
#header #gnbMenu ul.depth2 {padding:15px 0;}
#header #gnbMenu ul.depth1 > li > a::before {content:''; display:block; width:0; height:0; position:absolute; top:18%; left:-2%; background:var(--main-colorOrange); border-radius:50%;}
#header #gnbMenu ul.depth1 > li.active > a::before {width:8px; height:8px;}
#header #gnbMenu ul.depth2 > li > a {padding:8px;}

#header #gnbUser {order:1; margin-top:10px; align-self:flex-end; display:flex; flex-flow:row nowrap; justify-content:space-between;}
#header #gnbUser li::before {content:'｜'; font-weight:300;}
#header #gnbUser li:first-child::before {display:none;}
#header #gnbUser a {font-size:0.875em;}
#header a, #header a::before {transition:all 0.2s ease-in;}
/*** header --- END ***/


/*** footer --- START ***/
#footer {width:100%; height:400px; background:var(--base-colorLightGray); margin-top:7.5em; padding:2.5em 0; clear:both;}
#footer .wrapper {min-height:auto; display:flex; flex-flow:column nowrap;}

#footer .topArea {width:100%; border-bottom:1px solid var(--base-colorDeepGray); margin-bottom:1.75em; padding-bottom:1.75em; display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;}
#footer .topArea .customerBox .tel {font-size:1.25em; font-weight:700; margin-bottom:0.875em;}
#footer .topArea .customerBox .tel a {margin-left:0.25em;}
#footer .topArea .customerBox ul.time li strong {padding-right:0.25em;}
#footer .topArea .customerBox ul.time li.caption {font-size:0.875em; margin-top:0.5em;}
#footer .topArea .qnaBtn {display:flex; justify-content:center; align-items:center; padding:25px 60px; background:#555; color:var(--base-colorWhite); font-weight:500; font-size:1.125em;}

#footer .btmArea {width:100%; display:flex; flex-flow:column nowrap;}
#footer .btmArea .logo {font-size:2em; font-weight:700;}
#footer .btmArea ul {display:flex; flex-flow:row wrap;}
#footer .btmArea ul li {font-size:0.875em;}
#footer .btmArea ul.infoBox {margin-top:1em;}
#footer .btmArea ul.infoBox li::after {content:'｜'; padding:0 0.25em; font-weight:300;}
#footer .btmArea ul.infoBox li:last-child::after {display:none;}
#footer .btmArea ul.infoBox li span::after {content:':'; padding:0 0.25em;}
#footer .btmArea ul.copyBox {margin-top:1em;}
#footer .btmArea ul.copyBox li {padding-right:1em;}
#footer .btmArea ul.copyBox li.copyright {padding-left:1em;}
#footer .btmArea ul.copyBox a {font-weight:700;}
/*** footer --- END ***/


/*** pageVisual --- START ***/
#pageVisual {width:100%; height:320px; background:var(--base-colorWhite); margin-bottom:3em;}
#pageVisual .wrapper {height:100%; display:flex; flex-flow:column nowrap; justify-content:center; align-items:center; padding-bottom:2em;}
#pageVisual #pageTitle {font-size:1.875em; margin:0.25em 0 0.75em;}
#pageVisual #pageInfo {font-size:1.125em; font-weight:400;}
/*** pageVisual --- END ***/


@media (hover:hover) {
    #header #gnbMenu ul.depth2 > li > a:hover {text-decoration:underline;}
}